updatefiles.sh
usr/local/share/fonts/ttf/EVA-Matisse/EVA-MATISSE_CLASSIC.TTF
usr/local/share/fonts/ttf/EVA-Matisse/EVA-MATISSE_STANDARD.TTF
usr/local/share/fonts/ttf/NIS-Fonts/NIS-JTC-Win-M9-Condensed.ttf
usr/local/share/fonts/ttf/NIS-Fonts/NIS-JTC-Win-M9.ttf
usr/local/share/man
